@import "part:@sanity/base/theme/variables-style";

.error {
  color: var(--state-danger-color);
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--medium-padding);
}

.item {
  position: relative;
  padding: var(--small-padding);
  border-radius: var(--border-radius-large);
  border: 1px solid var(--hairline-color);
  box-sizing: border-box;
  cursor: pointer;

  & > small {
    display: block;
    text-align: center;
  }
}

.hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.icon {
  display: grid;
  align-items: center;
  padding: var(--medium-padding);
  height: 60px;

  & > * {
    height: 100%;
    width: 100%;
  }
}

.name {
  text-align: center;
}

.image {
}

.selected {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid var(--hairline-color);
  }
}
