@import "part:@sanity/base/theme/variables-style";

.error {
  color: var(--state-danger-color);
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--medium-padding);

  @media (--min-medium) {
    grid-template-columns: repeat(4, 1fr);
  }

  &.small {
    grid-gap: var(--extra-small-padding);
    grid-template-columns: repeat(4, 1fr);

    @media (--min-medium) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &.large {
    grid-template-columns: repeat(1, 1fr);

    @media (--min-medium) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.item {
  position: relative;
  padding: var(--extra-small-padding);
  border-radius: var(--border-radius-large);
  border: 1px solid var(--hairline-color);
  box-sizing: border-box;
  cursor: pointer;

  & .icon {
    min-height: calc(var(--large-padding) * 4);
  }

  & > small {
    display: block;
    text-align: center;
  }
}

.grid.small {
  & .icon {
    min-height: calc(var(--medium-padding) * 4);
    padding: var(--small-padding);
  }
}

.grid.large {
  & .icon {
    min-height: calc(var(--large-padding) * 6);
  }
}

.hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.icon {
  display: grid;
  align-items: center;
  padding: var(--medium-padding);
  box-sizing: border-box;

  & > * {
    height: 100%;
    width: 100%;
  }
}

.tip {
  text-align: center;
  line-height: 1.1;
  padding: var(--small-padding);
  padding-top: 0;
}

.name {
  text-align: center;
}

.tooltip {
  position: relative;

  & small {
    background-color: var(--brand-primary);
    padding: var(--small-padding);
    border-radius: 5px;
    color: var(--brand-primary--inverted);
  }

  & .tip {
    padding: 0;
    display: none;
  }

  &.over .tip {
    position: absolute;
    display: block;
    width: 100%;
    box-sizing: border-box;

    & small {
      position: absolute;
      box-sizing: border-box;
      left: calc(var(--small-padding) * -1);
      top: var(--small-padding);
      width: calc(100% + var(--small-padding));
      z-index: 500;

      &:before {
        position: absolute;
        top: -5px;
        left: calc(50% - 5px);
        border: solid var(--brand-primary);
        border-width: 0 10px 10px 0;
        transform: rotate(-135deg);
        content: " ";
      }
    }
  }
}

.selected {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--brand-primary);
    border-radius: var(--border-radius-large);
  }
}
