@import "./VisualOptionsScreen.css";
@import "part:@sanity/base/theme/variables-style";

.error {
  color: var(--state-danger-color);
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--medium-padding);

  @media (--screen-medium) {
    grid-template-columns: repeat(4, 1fr);
  }

  &.small {
    grid-gap: var(--extra-small-padding);
    grid-template-columns: repeat(4, 1fr);

    @media (--screen-medium) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &.large {
    grid-template-columns: repeat(1, 1fr);

    @media (--screen-medium) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.item {
  position: relative;
  padding: var(--extra-small-padding);
  border-radius: var(--border-radius-large);
  border: 1px solid var(--hairline-color);
  box-sizing: border-box;
  cursor: pointer;

  & .icon {
    min-height: calc(var(--large-padding) * 4);
  }

  & > small {
    display: block;
    text-align: center;
  }
}

.grid:not(.circle):not(.tooltip) {
  & .item {
    display: flex;
    flex-direction: column;

    & .icon {
      flex-grow: 1;
    }
  }
}

.grid.circle, .grid.circle.small, .grid.circle.large {
  & .item {
    border-radius: 50%;

    &:before {
      border-radius: 50%;
      border-width: 3px;
    }
  }

  & .icon {
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
  }
}

.grid.small {
  & .icon {
    min-height: calc(var(--medium-padding) * 4);
    padding: var(--small-padding);
  }
}

.grid.large {
  & .icon {
    min-height: calc(var(--large-padding) * 6);
  }
}

.grid.circle {
  display: block;

  & .item {
    float: left;
    height: 5rem;
    width: 5rem;
    display: flex;
    margin-right: 0.5rem;
    margin-top: 0.5rem;

    &:not(.tooltip) .tip {
      display: none;
    }

    & .icon {
      width: 100%;
      min-height: auto;
    }
  }

  &.large .item {
    height: 8rem;
    width: 8rem;
  }

  &.small .item {
    height: 3rem;
    width: 3rem;
  }
}

.hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.icon {
  display: grid;
  align-items: center;
  padding: var(--medium-padding);
  box-sizing: border-box;

  & > * {
    height: 100%;
    width: 100%;
  }

  & > img {
    object-fit: contain;
  }
}

.tip {
  text-align: center;
  line-height: 1.1;
  padding: var(--small-padding);
  padding-top: 0;
}

.name {
  text-align: center;
}




.tooltip {
  position: relative;

  & small {
    background-color: var(--brand-primary);
    color: var(--brand-primary--inverted);
    padding: var(--small-padding);
    border-radius: 5px;
  }

  & .tip {
    padding: 0;
    display: none;
  }

  &.over .tip {
    position: absolute;
    display: flex;
    width: calc(100% - 0.5rem);
    box-sizing: border-box;
    bottom: 0;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;


    & small {
      position: relative;
      box-sizing: border-box;
      z-index: 500;
      transform: translateY(calc(100% + 0.25rem));

      &:before {
        position: absolute;
        top: -5px;
        left: calc(50% - 5px);
        border: solid var(--brand-primary);
        border-width: 0 10px 10px 0;
        transform: rotate(-135deg);
        content: " ";
      }
    }
  }
}

.selected {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--brand-primary);
    border-radius: var(--border-radius-large);
  }
}
